## IMPORTING THE UNCLEAN DATASET

In [4]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

# ------------------------------------------------------------------
# Paths and target column
# ------------------------------------------------------------------
data_path  = "/workspaces/AML-Project-team-L/unclean.csv"          # uploaded file
target_col = "Property Value"                    # change if needed
save_path  = "/workspaces/AML-Project-team-L/cleaned.csv"  # cleaned output

# ------------------------------------------------------------------
# 1) LOAD DATA
# ------------------------------------------------------------------
df = pd.read_csv("/workspaces/AML-Project-team-L/unclean.csv" )

/tmp/ipykernel_1971/939290796.py:15: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/workspaces/AML-Project-team-L/unclean.csv" )

Dropping rows with missing target variable

In [5]:
# 2) DROP ROWS WITH MISSING TARGET
# ------------------------------------------------------------------
df = df.dropna(subset=['Property Value']).copy()

## Removing unwanted columns

In [6]:
# Step 1: Remove unwanted columns
columns_to_drop = [
    "Property Link",
    "Address line 1",
    "Address line 2",
    "Full Address_x",
    "Full Address_y",
    "\nbed",
    "PropertyLotSizeMetastyles__StyledPropertyLotSizeMeta-rui__sc-1cz4zco-0",
    "lot size",
    "appreciate/depreciate",
    
]
df.drop(columns=columns_to_drop, inplace=True, errors='ignore')

Showing missing values and summary

In [ ]:
print("\n--- Missing Values per Column ---")
print(df.isnull().sum())

print("\n--- Numeric Summary ---")
print(df.describe(include='number'))

/home/codespace/.local/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/home/codespace/.local/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/home/codespace/.local/lib/python3.12/site-packages/numpy/lib/_function_base_impl.py:4653: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/home/codespace/.local/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

--- Missing Values per Column ---
Type of House                                  0
Property Value                                 0
bed                                          405
bath                                         552
Area (Sqft)                                 4464
Latitude                                       0
Longitude                                      0
Number_of_Parks_Nearby                         0
Distance_to_Nearest_Parks_miles                0
Number_of_Malls_Nearby                         0
Distance_to_Nearest_Malls_miles                0
Number_of_Metros_Nearby                        0
Distance_to_Nearest_Metros_miles               0
Number_of_Clubs_Nearby                         0
Distance_to_Nearest_Clubs_miles                0
Number_of_Restaurants_Nearby                   0
Distance_to_Nearest_Restaurants_miles          0
Number_of_Schools_Nearby                       0
Distance_to_Nearest_Schools_miles              0
Number_of_Colleges_Nearby                      0
Distance_to_Nearest_Colleges_miles             0
Number_of_Universities_Nearby                  0
Distance_to_Nearest_Universities_miles         0
Number_of_Buses_Nearby                         0
Distance_to_Nearest_Buses_miles                0
Number_of_Trains_Nearby                        0
Distance_to_Nearest_Trains_miles               0
Number_of_Airports_Nearby                      0
Distance_to_Nearest_Airports_miles             0
Number_of_Museums_Nearby                       0
Distance_to_Nearest_Museums_miles              0
Number_of_Libraries_Nearby                     0
Distance_to_Nearest_Libraries_miles            0
Number_of_Grocery_stores_Nearby                0
Distance_to_Nearest_Grocery_stores_miles       0
borough                                        0
dtype: int64

--- Numeric Summary ---

/home/codespace/.local/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/home/codespace/.local/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/home/codespace/.local/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/home/codespace/.local/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/home/codespace/.local/lib/python3.12/site-packages/numpy/lib/_function_base_impl.py:4653: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/home/codespace/.local/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/home/codespace/.local/lib/python3.12/site-packages/numpy/lib/_function_base_impl.py:4653: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/home/codespace/.local/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/home/codespace/.local/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/home/codespace/.local/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/home/codespace/.local/lib/python3.12/site-packages/numpy/lib/_function_base_impl.py:4653: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
/home/codespace/.local/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/home/codespace/.local/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/home/codespace/.local/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

           Latitude     Longitude  Number_of_Parks_Nearby  \
count  16612.000000  16612.000000            16612.000000
mean      40.716544    -73.955840               16.100530
std        0.088657      0.092349               10.867867
min       40.499272    -74.254892                0.000000
25%       40.638137    -73.991235                6.000000
50%       40.731953    -73.961146               16.000000
75%       40.774590    -73.906287               22.000000
max       40.912434    -73.703588               57.000000

       Distance_to_Nearest_Parks_miles  Number_of_Malls_Nearby  \
count                     1.661200e+04            16612.000000
mean                               inf                1.080123
std                                NaN                1.187912
min                       1.438599e-02                0.000000
25%                       3.879628e-01                0.000000
50%                       7.134020e-01                1.000000
75%                       1.247716e+00                2.000000
max                                inf                3.000000

       Distance_to_Nearest_Malls_miles  Number_of_Metros_Nearby  \
count                     1.661200e+04             16612.000000
mean                               inf                64.590597
std                                NaN                44.322014
min                       2.861846e-02                 0.000000
25%                       1.299669e+00                26.000000
50%                       2.952998e+00                61.000000
75%                                NaN               105.000000
max                                inf               165.000000

       Distance_to_Nearest_Metros_miles  Number_of_Clubs_Nearby  \
count                      1.661200e+04            16612.000000
mean                                inf               13.792138
std                                 NaN               15.008298
min                        3.355926e-03                0.000000
25%                        1.584211e-01                1.000000
50%                        2.785797e-01                6.000000
75%                        5.977635e-01               27.000000
max                                 inf               57.000000

       Distance_to_Nearest_Clubs_miles  ...  Number_of_Trains_Nearby  \
count                     1.661200e+04  ...             16612.000000
mean                               inf  ...                69.903203
std                                NaN  ...                46.674617
min                       1.249285e-02  ...                 0.000000
25%                       5.700954e-01  ...                30.000000
50%                       1.168259e+00  ...                65.000000
75%                       2.170101e+00  ...               112.000000
max                                inf  ...               171.000000

       Distance_to_Nearest_Trains_miles  Number_of_Airports_Nearby  \
count                      1.661200e+04               16612.000000
mean                                inf                   0.434204
std                                 NaN                   0.502063
min                        3.355926e-03                   0.000000
25%                        1.558381e-01                   0.000000
50%                        2.705941e-01                   0.000000
75%                        5.422143e-01                   1.000000
max                                 inf                   2.000000

       Distance_to_Nearest_Airports_miles  Number_of_Museums_Nearby  \
count                        1.661200e+04              16612.000000
mean                                  inf                 14.462015
std                                   NaN                 16.005570
min                          3.993984e-02                  0.000000
25%                          2.251013e+00                  1.000000
50%                                   NaN                  6.000000
75%                                   NaN                 28.000000
max                                   inf                 50.000000

       Distance_to_Nearest_Museums_miles  Number_of_Libraries_Nearby  \
count                       1.661200e+04                16612.000000
mean                                 inf                   10.280400
std                                  NaN                    9.591418
min                         4.400547e-03                    0.000000
25%                         3.967619e-01                    3.000000
50%                         1.005272e+00                    5.000000
75%                         2.321655e+00                   22.000000
max                                  inf                   29.000000

       Distance_to_Nearest_Libraries_miles  Number_of_Grocery_stores_Nearby  \
count                         1.661200e+04                     16612.000000
mean                                   inf                       109.544667
std                                    NaN                        70.797374
min                           1.302011e-02                         0.000000
25%                           4.356365e-01                        43.000000
50%                           9.337528e-01                       104.000000
75%                           1.740194e+00                       177.000000
max                                    inf                       246.000000

       Distance_to_Nearest_Grocery_stores_miles
count                              1.661200e+04
mean                                        inf
std                                         NaN
min                                1.581960e-03
25%                                1.146737e-01
50%                                2.032696e-01
75%                                3.871262e-01
max                                         inf

[8 rows x 30 columns]

Remove $ from target and convert to numerical

In [8]:
# Step 2: Clean the 'Property Value' column
# Remove $ and , and handle non-numeric values like "Contact for price"
df["Property Value"] = (
    df["Property Value"]
    .astype(str)
    .str.replace("$", "", regex=False)
    .str.replace(",", "", regex=False)
)

# Remove rows where 'Property Value' is non-numeric (e.g., "Contact for price")
df = df[df["Property Value"].str.replace(".", "", regex=False).str.isnumeric()]

# Convert to float
df["Property Value"] = df["Property Value"].astype(float)

# Check results
print(df["Property Value"].head())

0    150000000.0
1       649000.0
2      6999999.0
3     18000000.0
4       274000.0
Name: Property Value, dtype: float64

In [9]:
df.head()

,Type of House,Property Value,bed,bath,Area (Sqft),Latitude,Longitude,Number_of_Parks_Nearby,Distance_to_Nearest_Parks_miles,Number_of_Malls_Nearby,...,Distance_to_Nearest_Trains_miles,Number_of_Airports_Nearby,Distance_to_Nearest_Airports_miles,Number_of_Museums_Nearby,Distance_to_Nearest_Museums_miles,Number_of_Libraries_Nearby,Distance_to_Nearest_Libraries_miles,Number_of_Grocery_stores_Nearby,Distance_to_Nearest_Grocery_stores_miles,borough
0,Condo for sale,150000000.0,8,10,"11,535",40.766474,-73.981266,16,0.516540,3,...,0.130121,1,2.205337,34,0.466477,26,0.228443,194,0.151832,Manhattan
1,Condo for sale,649000.0,3,2.5,"2,431",40.826130,-73.943006,37,0.057431,0,...,0.157511,0,inf,14,0.313484,9,0.372547,101,0.235285,Manhattan
2,Townhouse for sale,6999999.0,6,6.5+,"7,200",40.787587,-73.969240,19,0.148955,2,...,0.153621,0,inf,17,0.458300,22,0.580740,154,0.129664,Manhattan
3,House for sale,18000000.0,8,16.5,"33,000",40.595008,-74.106434,1,1.515412,0,...,0.804044,0,inf,4,2.116247,1,1.616244,22,1.005562,Staten Island
4,House for sale,274000.0,3,1,"1,556",40.675746,-73.822413,14,0.953825,1,...,0.726807,0,inf,0,inf,1,1.638993,52,0.216965,Queens

## Handling missing values through imputation

For "Bed" and "Bath" we impute mode

In [10]:
# Impute 'bed'
most_common_bed = df["bed"].mode()[0]
df["bed"].fillna(most_common_bed, inplace=True)

# Impute 'bath'
median_bath = df["bath"].mode()[0]
df["bath"].fillna(median_bath, inplace=True)

/tmp/ipykernel_1971/337580240.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["bed"].fillna(most_common_bed, inplace=True)
/tmp/ipykernel_1971/337580240.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["bath"].fillna(median_bath, inplace=True)

For Area sq.ft we fill missing Area using group-wise median

In [13]:
# Remove commas and convert to float
df["Area (Sqft)"] = (
    df["Area (Sqft)"]
    .astype(str)
    .str.replace(",", "", regex=False)
    .replace("nan", np.nan)  # Optional: clean string 'nan' if present
    .astype(float)
)

In [14]:
# First, back up original column (optional)
df["Area (Sqft)_original"] = df["Area (Sqft)"]

# Ensure 'bed' is filled and consistent
df["bed"] = df["bed"].fillna(df["bed"].mode()[0])
df["bed"] = df["bed"].astype(str)  # just to be sure for grouping

# Define function to fill missing Area using group-wise median
def impute_area(row):
    if pd.isna(row["Area (Sqft)"]):
        # Try grouping by bed + type + borough
        group_median = grouped_medians.get((row["bed"], row["Type of House"], row["borough"]))
        if pd.notna(group_median):
            return group_median
        # fallback to just bed + borough
        group_median = fallback_medians.get((row["bed"], row["borough"]))
        if pd.notna(group_median):
            return group_median
        # fallback to bed only
        group_median = bed_medians.get(row["bed"])
        if pd.notna(group_median):
            return group_median
        # fallback to global median
        return df["Area (Sqft)"].median()
    return row["Area (Sqft)"]

# Create median mappings
grouped_medians = df.groupby(["bed", "Type of House", "borough"])["Area (Sqft)"].median().to_dict()
fallback_medians = df.groupby(["bed", "borough"])["Area (Sqft)"].median().to_dict()
bed_medians = df.groupby("bed")["Area (Sqft)"].median().to_dict()

# Apply imputation
df["Area (Sqft)"] = df.apply(impute_area, axis=1)

In [33]:
print("\n--- Missing Values per Column ---")
print(df.isnull().sum())

--- Missing Values per Column ---
Type of House                                  0
Property Value                                 0
bed                                            0
bath                                           0
Area (Sqft)                                    0
Latitude                                       0
Longitude                                      0
Number_of_Parks_Nearby                         0
Distance_to_Nearest_Parks_miles                0
Number_of_Malls_Nearby                         0
Distance_to_Nearest_Malls_miles                0
Number_of_Metros_Nearby                        0
Distance_to_Nearest_Metros_miles               0
Number_of_Clubs_Nearby                         0
Distance_to_Nearest_Clubs_miles                0
Number_of_Restaurants_Nearby                   0
Distance_to_Nearest_Restaurants_miles          0
Number_of_Schools_Nearby                       0
Distance_to_Nearest_Schools_miles              0
Number_of_Colleges_Nearby                      0
Distance_to_Nearest_Colleges_miles             0
Number_of_Universities_Nearby                  0
Distance_to_Nearest_Universities_miles         0
Number_of_Buses_Nearby                         0
Distance_to_Nearest_Buses_miles                0
Number_of_Trains_Nearby                        0
Distance_to_Nearest_Trains_miles               0
Number_of_Airports_Nearby                      0
Distance_to_Nearest_Airports_miles             0
Number_of_Museums_Nearby                       0
Distance_to_Nearest_Museums_miles              0
Number_of_Libraries_Nearby                     0
Distance_to_Nearest_Libraries_miles            0
Number_of_Grocery_stores_Nearby                0
Distance_to_Nearest_Grocery_stores_miles       0
borough                                        0
Area (Sqft)_original                        4464
dtype: int64

In [43]:
import numpy as np
import pandas as pd

# Identify all distance columns in df
distance_cols = [col for col in df.columns if "Distance_to" in col and "miles" in col]

# Define bin ranges and labels
bins = [0, 1, 2, 3, 4, 5, np.inf]
labels = ["0–1 miles", "1–2 miles", "2–3 miles", "3–4 miles", "4–5 miles", "5+ miles"]

# Clean, bin, and replace distance columns
for col in distance_cols:
    # Convert column to numeric (handles strings like 'inf', etc.)
    df[col] = pd.to_numeric(df[col], errors="coerce")

    # Replace inf values with NaN
    df[col].replace([np.inf, -np.inf], np.nan, inplace=True)

    # Bin the distance into categories
    binned_col = pd.cut(df[col], bins=bins, labels=labels, include_lowest=True)

    # Replace NaN with 'Unknown' and add as new column
    binned_col = binned_col.cat.add_categories("Unknown").fillna("Unknown")

    # Add to df_encoded with a new column name
    new_col_name = f"{col}_binned"
    df[new_col_name] = binned_col

    # Optionally drop the original distance column
    df.drop(columns=[col], inplace=True)

/tmp/ipykernel_1971/600403462.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace([np.inf, -np.inf], np.nan, inplace=True)
/tmp/ipykernel_1971/600403462.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace([np.inf, -np.inf], np.nan, inplace=True)
/tmp/ipykernel_1971/600403462.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace([np.inf, -np.inf], np.nan, inplace=True)
/tmp/ipykernel_1971/600403462.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace([np.inf, -np.inf], np.nan, inplace=True)
/tmp/ipykernel_1971/600403462.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace([np.inf, -np.inf], np.nan, inplace=True)
/tmp/ipykernel_1971/600403462.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace([np.inf, -np.inf], np.nan, inplace=True)
/tmp/ipykernel_1971/600403462.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace([np.inf, -np.inf], np.nan, inplace=True)
/tmp/ipykernel_1971/600403462.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace([np.inf, -np.inf], np.nan, inplace=True)
/tmp/ipykernel_1971/600403462.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace([np.inf, -np.inf], np.nan, inplace=True)
/tmp/ipykernel_1971/600403462.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace([np.inf, -np.inf], np.nan, inplace=True)
/tmp/ipykernel_1971/600403462.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace([np.inf, -np.inf], np.nan, inplace=True)
/tmp/ipykernel_1971/600403462.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace([np.inf, -np.inf], np.nan, inplace=True)
/tmp/ipykernel_1971/600403462.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace([np.inf, -np.inf], np.nan, inplace=True)
/tmp/ipykernel_1971/600403462.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace([np.inf, -np.inf], np.nan, inplace=True)

In [44]:
categorical_cols = df.select_dtypes(include=["object", "category"]).columns.tolist()
print("Categorical columns:", categorical_cols)

Categorical columns: ['Type of House', 'bed', 'bath', 'borough', 'Distance_to_Nearest_Parks_miles_binned', 'Distance_to_Nearest_Malls_miles_binned', 'Distance_to_Nearest_Metros_miles_binned', 'Distance_to_Nearest_Clubs_miles_binned', 'Distance_to_Nearest_Restaurants_miles_binned', 'Distance_to_Nearest_Schools_miles_binned', 'Distance_to_Nearest_Colleges_miles_binned', 'Distance_to_Nearest_Universities_miles_binned', 'Distance_to_Nearest_Buses_miles_binned', 'Distance_to_Nearest_Trains_miles_binned', 'Distance_to_Nearest_Airports_miles_binned', 'Distance_to_Nearest_Museums_miles_binned', 'Distance_to_Nearest_Libraries_miles_binned', 'Distance_to_Nearest_Grocery_stores_miles_binned']

## Encoding categorical values using One-Hot encoding

In [45]:
df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

In [46]:
df_encoded.head()

,Property Value,Area (Sqft),Latitude,Longitude,Number_of_Parks_Nearby,Number_of_Malls_Nearby,Number_of_Metros_Nearby,Number_of_Clubs_Nearby,Number_of_Restaurants_Nearby,Number_of_Schools_Nearby,...,Distance_to_Nearest_Libraries_miles_binned_3–4 miles,Distance_to_Nearest_Libraries_miles_binned_4–5 miles,Distance_to_Nearest_Libraries_miles_binned_5+ miles,Distance_to_Nearest_Libraries_miles_binned_Unknown,Distance_to_Nearest_Grocery_stores_miles_binned_1–2 miles,Distance_to_Nearest_Grocery_stores_miles_binned_2–3 miles,Distance_to_Nearest_Grocery_stores_miles_binned_3–4 miles,Distance_to_Nearest_Grocery_stores_miles_binned_4–5 miles,Distance_to_Nearest_Grocery_stores_miles_binned_5+ miles,Distance_to_Nearest_Grocery_stores_miles_binned_Unknown
0,150000000.0,11535.0,40.766474,-73.981266,16,3,110,30,2786,165,...,False,False,False,False,False,False,False,False,False,False
1,649000.0,2431.0,40.826130,-73.943006,37,0,72,5,572,220,...,False,False,False,False,False,False,False,False,False,False
2,6999999.0,7200.0,40.787587,-73.969240,19,2,88,7,1933,192,...,False,False,False,False,False,False,False,False,False,False
3,18000000.0,33000.0,40.595008,-74.106434,1,0,7,1,173,16,...,False,False,False,False,True,False,False,False,False,False
4,274000.0,1556.0,40.675746,-73.822413,14,1,30,7,252,32,...,False,False,False,False,False,False,False,False,False,False

## Splitting data set

In [47]:
# Separate target and features
X = df_encoded.drop(columns=["Property Value"])
y = df_encoded["Property Value"]

In [48]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

## Applying standard scalar

In [49]:
from sklearn.preprocessing import StandardScaler

# Scale only numeric columns
numeric_cols = X_train.select_dtypes(include=["int64", "float64"]).columns
scaler = StandardScaler()

X_train[numeric_cols] = scaler.fit_transform(X_train[numeric_cols])
X_test[numeric_cols] = scaler.transform(X_test[numeric_cols])

## Trying RandomForestRegresoor

In [50]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Initialize and train
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Predict
y_pred = model.predict(X_test)

In [52]:
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f"✅ RMSE: {rmse:,.2f}")
print(f"✅ R² Score: {r2:.4f}")

✅ RMSE: 2,399,731.97
✅ R² Score: 0.8445