## EDA

In [13]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Read the data
df = pd.read_csv('./data/realtor 11k.csv')

# Display the first few rows and basic information about the dataset
print("First 5 rows of the dataset:")
display(df.head())

print("\nDataset information:")
display(df.info())

print("\nBasic statistics:")
display(df.describe())

First 5 rows of the dataset:

,Property Link,Type of House,Property Value,bed,bath,\nbed,Area (Sqft),Address line 1,Address Line 2,Full Address,PropertyLotSizeMetastyles__StyledPropertyLotSizeMeta-rui__sc-1cz4zco-0,lot size,appreciate/depreciate
0,https://www.realtor.com/realestateandhomes-det...,Condo for sale,"$150,000,000",8,10,8.0,"11,535",217 W 57th St Unit 127/128,"Manhattan, NY 10019","217 W 57th St Unit 127/128 Manhattan, NY 10019",NaN,NaN,NaN
1,https://www.realtor.com/realestateandhomes-det...,Condo for sale,"$649,000",3,2.5,3.0,"2,431",764 Saint Nicholas /C2 Ave Unit C1,"New York, NY 10031","764 Saint Nicholas /C2 Ave Unit C1 New York, N...",NaN,NaN,NaN
2,https://www.realtor.com/realestateandhomes-det...,Townhouse for sale,"$6,999,999",6,6.5+,6.0,"7,200",34 W 89th St,"Manhattan, NY 10024","34 W 89th St Manhattan, NY 10024",NaN,NaN,NaN
3,https://www.realtor.com/realestateandhomes-det...,House for sale,"$18,000,000",8,16.5,8.0,"33,000",177 Benedict Rd,"Staten Island, NY 10304","177 Benedict Rd Staten Island, NY 10304",acre lot,1.58,NaN
4,https://www.realtor.com/realestateandhomes-det...,House for sale,"$274,000",3,1,3.0,"1,556",115-30 116th St,"South Ozone Park, NY 11420","115-30 116th St South Ozone Park, NY 11420",sqft lot,"2,400",NaN

Dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11110 entries, 0 to 11109
Data columns (total 13 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   Property Link                                                           11106 non-null  object
 1   Type of House                                                           11110 non-null  object
 2   Property Value                                                          11110 non-null  object
 3   bed                                                                     10861 non-null  object
 4   bath                                                                    10742 non-null  object
 5
bed                                                                    2675 non-null   float64
 6   Area (Sqft)                                                             8132 non-null   object
 7   Address line 1                                                          11093 non-null  object
 8   Address Line 2                                                          11093 non-null  object
 9   Full Address                                                            150 non-null    object
 10  PropertyLotSizeMetastyles__StyledPropertyLotSizeMeta-rui__sc-1cz4zco-0  4870 non-null   object
 11  lot size                                                                4870 non-null   object
 12  appreciate/depreciate                                                   3313 non-null   object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

None

Basic statistics:

             \nbed
count  2675.000000
mean      2.613084
std       2.271456
min       1.000000
25%       1.000000
50%       2.000000
75%       3.000000
max      30.000000

In [31]:
if realtor_df["Full Address"] == places_df["Full Address"]:
    print("Same")

ValueError: Can only compare identically-labeled Series objects

In [36]:
# Import necessary libraries
import pandas as pd

# Read both CSV files
realtor_df = pd.read_csv('./data/realtor 11k.csv', encoding='latin-1')
places_df = pd.read_csv('./places_analysis_results.csv', encoding='latin-1')

# Ensure both DataFrames have the "Full Address" column
if 'Full Address' in realtor_df.columns and 'Full Address' in places_df.columns:
    # Clean the "Full Address" columns: strip spaces and convert to lowercase
    realtor_df['Full Address'] = realtor_df['Full Address'].str.strip().str.lower()
    places_df['Full Address'] = places_df['Full Address'].str.strip().str.lower()

    # Print unique values for debugging
    print("Unique Full addresses in realtor_df:")
    print(realtor_df['Full Address'].unique())
    print("\nUnique Full addresses in places_df:")
    print(places_df['Full Address'].unique())

    
    # Find matching addresses
    matching_addresses = realtor_df["Full Address"].isin(places_df["Full Address"])

    # Extract matching rows from df2
    matching_rows = places_df[places_df["Full Address"].isin(realtor_df["Full Address"])]

    # Save the result to a new CSV file
    output_path = "./data/matching_addresses.csv"
    matching_rows.to_csv(output_path, index=False)


    # # Merge the DataFrames on the "Full Address" column where they match
    # merged_df = pd.merge(
    #     realtor_df,
    #     places_df,
    #     on='Full Address',  # column to join on
    #     how='inner'         # keep only matching records
    # )

    # # Display the merged DataFrame
    # print("\nMerged DataFrame with matching Full addresses:")
    # display(merged_df)

    # # Optionally, save the merged DataFrame to a new CSV file
    # merged_df.to_csv('./data/merged_matching_addresses.csv', index=False)
    print("\nMerged file has been saved as 'merged_matching_addresses.csv'")
else:
    print("One or both DataFrames do not contain the 'Full Address' column.")

Unique Full addresses in realtor_df:
143

Unique Full addresses in places_df:
5637

Merged file has been saved as 'merged_matching_addresses.csv'